@import 'tailwindcss';

@theme {
  --color-bg-main: #020617;
  --color-bg-card: #0f172a;
  --color-bg-sidebar: #1e293b;
  --color-border-muted: #1f2937;
  --color-text-primary: #e2e8f0;
  --color-text-muted: #94a3b8;
  --color-positive: #10b981;
  --color-negative: #ef4444;
  --color-warning: #f59e0b;
}
